@import url('https://fonts.googleapis.com/css2?family=Anton&family=El+Messiri:wght@400..700&display=swap'); 
.first-section {

    background-image: url(a2.jpg);
    background-size: cover;
    

}

.font-style {

    color: white;
    font-family: "Oswald", sans-serif;

}

@media only screen and (max-width:600px) {
    
    .btn{
        gap: 10px;
    }

}